.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}
.heading {
    color: rebeccapurple;
  }
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    text-decoration: double;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}
img {
  width: 500px;
}
.site-title {
    font-size: 2.8rem;
    color: bisque;
    font-weight: 700;
    margin: 3rem 0;
  }